@import url('https://fonts.googleapis.com/css?family=Martel Sans');

* {
    font-family: Martel Sans;
    list-style:none;
}

a {
    color: #000;
    text-decoration: none;
  }

.nav-main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: left
}

.nav-main {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.nav-column {
    display: flex;
    flex-direction: column;
}

.nav-row-top {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
    font-size: small;
    margin: 0;
    margin-right: 25px;
    align-items: baseline;
}

.nav-row-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding: 10px;
    margin-top: 0;
    margin-bottom: -1em;
    }

.nav-li {
    line-height: 2.5em;
}

.nav-li-bottom {
    padding-right: 30px;
    line-height: 4em;
}

.one {
    flex-grow: 1;
}

.two {
    flex-grow: 10;
    text-align: right;
    align-items: baseline;
    /*align-items: center;*/
    margin-left: 20px;
    vertical-align: middle;
}

.item1 {
    min-width: 140px;
    flex-grow: 3;

    margin-top: 10px;
    margin-left: -18px;
}

.item2 {
    flex-grow: 16;
}

.item3 {
    min-width: 125px;
    flex-grow: 4;
    margin-top: 7px;
    margin-right: 20px;

}

.hr-top {
    border-top: 2px solid #f8f8f8;
    margin: 0;
  }

.hr-bottom {
    border-top: 1px solid #d3d3d3;
    margin: 0;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left
}

.hero-image {
    border-radius: 4px;
}

.app-mymcdonalds {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    }

.app-mymcdonalds-sub1 {
    display: flex;
    flex-direction: column;
}

.info1 {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -40px;
    }

.box-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    border-style: solid;
    border: 1px #000;
}

.info-sub {
    border-style: solid;
    border: 1px #000;    
}

.form {
    width: 40%;
}

.app-happy {
    text-align: center

}

.edu {
    width: 60%;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.footer-wrapper-sub {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.footer-main {
    display: flex;
    flex-direction: column;
}

.footer-row-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-bottom: 0;
    margin-left: -40px;
}

.footer-row-top-li {
    padding-right: 150px;
    line-height: 4em;
}

.footer-row-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    margin-left: -40px;
}

.footer-row-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    margin-left: -40px;
}

.footer-row-bottom-sub1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-bottom: 0;
    font-size: .8em;
}

.footer-row-bottom-li {
    padding-right: 40px;
}

.footer-row-bottom-sub2 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: flex-start;
    margin-bottom: 0;
    margin-right: -40px;
    font-size: .8em;
}

.logo-footer {
    height: 42px;
}

.font-small-print {
    font-size: 70%;
}

.standard-link-decoration:link {
    color: #006bae;
    text-decoration: underline;
  }
  
.standard-link-decoration:visited {
    color: #006bae;
    text-decoration: underline;
  }
    
h1 { 
    font-size: 3em;
    font-weight: bolder;
    
    margin-bottom: -.5em;
}

h2 {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.buttonClass {
    font-size:15px;
    /*font-family:Arial;*/
    padding: 12px 30px;
    border-width:1px;
    border-radius: 4px;
    background:#ffc72c;    
  }

.button-nav {
    font-size:15px;
    padding: 8px 25px 5px 25px;
    border-width:1px;
    border-radius: 4px;
    background:#ffc72c;    
  }

.button-submit {
    font-size:15px;
    padding: 8px 25px 5px 25px;
    border-width:1px;
    border-radius: 4px;
    background:#ffc72c; 
    box-shadow: 0px 2px #d3d3d3;
    ;
}

section {
    margin: 40px 0;
}

article {
    margin: 40px 0;
}

.hero-overlay {
    /*height: 1000px;
    width: 1000px;*/
    margin-top: -250px;
    margin-left: 50px;
    background-color: #blue;
    border-radius: 4px;
}


